@{
    ViewData["Title"] = "Home Page";
}

@model LibraryListViewModel

<!--The new commands I used in this were
    1. The alert class
                                         
    2. the alert-dismissible fade show for the alert
                                         
    3. the card header background color - bg-warning
                                         
    4. also took away some elements in the badge class to make it fit better   -->
    
    <div class="container">
        <h1 class="text-center">Here is a list of all the books</h1>
        <br />
        <div class="row">
            @foreach (var x in Model.Libraries)
            {
                <partial name="BookSummary" model="x" />
            }

        </div>
        <!--Display pagination-->
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary"
             page-url-category="@Model.CurrentCategory"
             class="btn-group pull-right m-1"></div>
    </div>